# macOS system files
.DS_Store
**/.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/

# Virtual environment
.env
.venv
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE settings
.vscode/
.idea/
